html {
  box-sizing: border-box;
}

*,
*::after,
*a::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "Corporate-A-Bold";
  src: url("Corporate-A-Bold.woff2") format("woff2"),
    url("Corporate-A-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

body {
  background: #070a1b;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
}

.header__top {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  height: 100px;
}

.list {
  display: flex;
  justify-content: flex-end;
}

.list__link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 0.3s;
}

.list__link:hover {
  background-color: #c1a1d2;
}

.list__item + .list__item {
  margin-left: 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-self: center;
}

.header__nav {
  display: flex;
}

.header__content {
  background-image: url(../images/header-content.png);
  min-height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.title {
  font-family: "Corporate-A-Bold";
  margin-bottom: 5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 72px;
  line-height: 120%;
}

.title-desc {
  margin-bottom: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 25px;
}
