html {
  box-sizing: border-box;
}

*,
*::after,
*a::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "Corporate-A-Bold";
  src: url("../fonts/Corporate-A-Bold.woff2") format("woff2"),
    url("../fonts/Corporate-A-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

body {
  /* background: #070a1b; */
  background: linear-gradient(180deg, #070a1b 0%, #2a3170 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
}

.header__top {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  height: 100px;
}

.list {
  display: flex;
  justify-content: flex-end;
}

.list__link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 0.3s;
}

.list__link:hover {
  background-color: #c1a1d2;
}

.list__item + .list__item {
  margin-left: 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-self: center;
}

.header__nav {
  display: flex;
}

.header__content {
  background-image: url(../images/header-content.png);
  min-height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.header__content::before {
  content: "";
  background-image: url(../images/decor.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -25px;
}

.title {
  font-family: "Corporate-A-Bold";
  margin-bottom: 5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 72px;
  line-height: 120%;
}

.title-desc {
  margin-bottom: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 25px;
}

.footer__inner {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  height: 300px;
}

.concept {
  padding-top: 150px;
  margin-bottom: 150px;
}

.conctept__inner {
  max-width: 900px;
  margin-left: auto;
}

.section__title {
  color: #f402a2;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Corporate-A-Bold";
}

.concept__text {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 120%;
}

.premier {
  margin-bottom: 150px;
}

.premier__btn {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 120%;
  color: #f402a2;
  font-family: "Corporate-A-Bold";
  text-transform: uppercase;
  border: 1px solid #f402a2;
  text-align: center;
  padding: 14px;
  transition: all 0.3s;
}
.premier__btn:hover {
  color: #53a1cb;
  border-color: #53a1cb;
}

.premier__inner {
  display: flex;
  gap: 60px;
}

.premier__text {
  margin-bottom: 22px;
}

.premier__img {
  margin-bottom: 20px;
}

.video {
  margin-bottom: 150px;
}

.video__img {
  margin-bottom: 25px;
}

.video__btn {
  display: flex;
  width: 100%;
  font-size: 18px;
  line-height: 120%;
  color: #f402a2;
  font-family: "Corporate-A-Bold";
  text-transform: uppercase;
  border: 1px solid #f402a2;
  padding: 14px;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.video__btn span {
  padding-top: 2px;
}

.video__btn:hover {
  border-color: #53a1cb;
  color: #53a1cb;
}

.video__btn:hover {
  border-color: #53a1cb;
  color: #53a1cb;
}

.video__btn path {
  transition: all 0.3s;
}

.video__btn:hover path {
  fill: #53a1cb;
}

.design__interior {
  display: grid;
  grid-template-columns: 255px 255px auto 330px;
  grid-template-rows: auto auto;
  gap: 14px 44px;
}

.design__cell-one {
  grid-row: 1/3;
}

.design__cell-two {
  grid-row-end: -1;
  display: flex;
  align-items: flex-end;
}

.design__cell-three {
  grid-column-end: -1;
  grid-row-end: -1;
  display: flex;
  align-items: flex-end;
}

.design__cell-text {
  margin-bottom: 15px;
}
